{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">CREATE</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>
      <b>작성자 : <a href="{% url 'accounts:profile' article.user %}">{{ article.user }}</a></b>
    </p>
    <p>글 번호 : {{ article.pk }}</p>
    <p>제목 : {{ article.title }}</p>
    <p>내용 : {{ article.content }}</p>
    <div>
      <form class='like-forms' data-article-id="{{article.pk}}">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
          <input type="submit" value="좋아요 취소" id="like-{{article.pk}}">
          {% comment %} id는 like에 article.pk {% endcomment %}
        {% else %}
          <input type="submit" value="좋아요" id="like-{{article.pk}}">
          {% comment %} id는 like에 article.pk 
          게시글 마다 다른 값을 가짐, 게시글 1은 'like 1' 이런식
          {% endcomment %}
        {% endif %}
      </form>
    </div>
    <a href="{% url 'articles:detail' article.pk %}">상세 페이지</a>
    <hr>
  {% endfor %}
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const forms = document.querySelectorAll('.like-form')
  // 도큐맨트에서 클래스가 like-form인 모든 값들을 찾아오기
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  
  // forms는 모든 값들을 찾아온 것이기 때문에 각각에 적용해주기 위해서
  // forEach를 사용한다
  forms.forEach((form) => {
    form.addEventListener('submit', function (event){
      event.preventDefault()
      console.log('s')

      const articleId = event.target.dataset.articleId
      
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
        headers: {'X-CSRFToken' : csrftoken}
      })
       .then((response) => {
        // like 버튼을 이전에 눌렀는가를 알아야 된다
        const isLiked = response.data.is_liked
        const likeBtn = document.querySelector(`#like-${articleId}`)
        if (isLiked === true) {
          likeBtn.value = '좋아요 취소'
        } else{
          likeBtn.value = '좋아요'
        }
      })
    })
  })

</script>

{% endblock script %}